<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>DynCurrencyExchangeHandler</servlet-name>
        <servlet-class>mywww.project2.DynCurrencyExchangeHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedToReportHandler</servlet-name>
        <servlet-class>mywww.project2.RedToReportHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DynCurrencyExchangeHandler</servlet-name>
        <url-pattern>/DynCurrencyExchangeHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedToReportHandler</servlet-name>
        <url-pattern>/RedToReportHandler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>reportURI</param-name>
        <param-value>http://www.google.com</param-value>
    </context-param>
    <listener>
        <listener-class>
            mywww.project2.ReportContextListener
        </listener-class>
    </listener>
</web-app>
